<%inherit file="/homepage/templates/app_base.htm"/>

<%block name="title">Login</%block>

<%block name="header">
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://ak2.picdn.net/shutterstock/videos/1008766622/preview/stock-footage-ekg-bpm-loop-screen-blue-heart-rate-monitor-electrocardiogram-ekg-or-ecg-loop-beeping-at.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
    <div class="d-flex text-center h-100">
        <div class="my-auto w-100 text-white">
        <h1 style="font-weight: 400;" class="display-3">HHS Web Database</h1>
        </div>
    </div>
    </div>
</header>
</%block>

<%block name="content">   

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="http://mediad.publicbroadcasting.net/p/wfsu/files/styles/x_large/public/201407/hhs_courtesy_www.hhs_.gov_.png" id="icon" alt="User Icon" style="height: 50px; width: 50px; margin-top: 10px;"/>
    </div>
    <form method="POST">
      ${ form.as_table() }
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
</%block>
