<%inherit file="app_base.htm" />

<%block name="site_center">
<div class="container-fluid">  
    <div class="row">
        <div class="col-md-4" style="text-align: center"> 
                    <p>Average percent of opioids prescribed
                        as a percentage of total prescriptions per state. 
                    </p>   
                </br>
                <a class="btn btn-large btn-primary" href="/states/">Explore</a>
            </div>
            <div class="col-md-4" style="text-align: center"> 
                <p>This one shows the average opioid percentages across all specialties</p>
            </br>   
                <a class="btn btn-large btn-primary" href="/specialties/">See Specialties</a>
            </div>
            <div class="col-md-4" style="text-align: center"> 
                <p>Some other kind of analytics that is to be determined at a later date</p>  
            </br> 
                <a class="btn btn-large btn-primary" href="/states/">Explore</a>
        </div>
     </div>
</div>  
</br>
<p style="text-align: center">___________________________________________________________________________________________</p>
</br>
<div class="container-fluid">  
        <div class="row">
            <div class="col-md-4" style="text-align: center"> 
                    <a class="btn btn-large btn-primary" href="/states/">Explore</a>
            </br>
            </br>
                    <p>See this awesome feature to see the average percent of opioids prescribed
                        as a percentage of total prescriptions per state. This can help doctors know how they're doing compared to others in their states.</p>   
                </div>
                <div class="col-md-4" style="text-align: center"> 
                        <a class="btn btn-large btn-primary" href="/states/">Explore</a>
                    </br>
                    </br>
                    <p>See this awesome feature to see the average percent of opioids prescribed
                        as a percentage of total prescriptions per state. This can help doctors know how they're doing compared to others in their states.</p>   
                </div>
                <div class="col-md-4" style="text-align: center"> 
                        <a class="btn btn-large btn-primary" href="/states/">Explore</a>
                    </br>
                    </br>
                    <p>See this awesome feature to see the average percent of opioids prescribed
                        as a percentage of total prescriptions per state. This can help doctors know how they're doing compared to others in their states.</p>   
            </div>
         </div>
    </div>  
    
</%block>