<%inherit file="app_base.htm" />

<%block name="site_center">
<div class="container-fluid">  
    <div class="row">
        <div class="col-md-4" style="text-align: center"> 
                    <p>Average percent of opioids prescribed
                        as a percentage of total prescriptions per state 
                    </p>   
                </br>
                <a class="btn btn-large btn-primary" href="/states/">Show States</a>
            </div>
            <div class="col-md-4" style="text-align: center"> 
                <p>This one shows the average opioid percentages across all specialties</p>
            </br>   
                <a class="btn btn-large btn-primary" href="/specialties/">See Specialties</a>
            </div>
            <div class="col-md-4" style="text-align: center"> 
                <p>These doctors discrace humanity by prescribing the most and highest percentage of opioids</p>  
            </br> 
                <a class="btn btn-large btn-primary" href="/doctors/">See Doctors</a>
        </div>
     </div>
</div>  
</br>
<p style="text-align: center">___________________________________________________________________________________________</p>
</br>
<div class="container-fluid">  
        <div class="row">
            <div class="col-md-4" style="text-align: center"> 
                    <a class="btn btn-large btn-primary" href="/top25/">Top 25%</a>
            </br>
            </br>
                    <p>These are the Doctors who are in the top 25% highest opioid prescribers in their specialty by percentage</p>   
                </div>
                <div class="col-md-4" style="text-align: center"> 
                        <a class="btn btn-large btn-primary" href="/drugPrediction/">Browse Now</a>
                    </br>
                    </br>
                    <p>See who is most at risk of becoming an opioid over-prescriber based on the drugs they currently prescribe</p>   
                </div>
                <div class="col-md-4" style="text-align: center"> 
                        <a class="btn btn-large btn-primary" href="/doctorPrediction/">Explore now</a>
                    </br>
                    </br>
                    <p>See who is most at risk of becoming an opioid over-prescriber based on the doctors they are most similar to</p>   

            </div>
         </div>
    </div>  
    
</%block>