<%inherit file="app_base.htm" />

<%block name="breadcrum">
<ol class="breadcrumb" style="background-color: transparent">
    <li><a href="/index/">Home</a></li>
    <li class="active">Analytics</li>
</ol>
</%block>

<%block name="site_center">
<div class="container-fluid">  
    <div class="row">
            <div class="col-md-6" style="text-align: center"> 
                    <p><b>Average percent of opioids prescribed</br>
                        as a percentage of total prescriptions per state</b> 
                    </p>   
                </br>
                <a class="btn btn-large btn-primary" href="/states/">Show States</a>
            </div>
            <div class="col-md-6" style="text-align: center"> 
                <p><b>This one shows the average </br>opioid percentages across all specialties</b></p>
            </br>   
                <a class="btn btn-large btn-primary" href="/specialties/">See Specialties</a>
            </div>
     </div>
</div>  
</br>
<p style="text-align: center">___________________________________________________</p>
<p style="text-align: center">_____________________________________</p>
</br>
<div class="container-fluid">  
        <div class="row">
                <div class="col-md-6" style="text-align: center"> 
                    <a class="btn btn-large btn-primary" href="/doctors/">See Doctors</a>
                    </br> 
                    </br>
                    <p><b>These doctors discrace humanity by prescribing</br> the most and highest percentage of opioids</b></p>  
                     

                    </div>
                    <div class="col-md-6" style="text-align: center"> 
                        <a class="btn btn-large btn-primary" href="/homepage/details.topDangerous/">Top 30 at Risk</a>
                        </br>  
                        </br>   
                        <p><b>See who is most at risk of becoming an opioid over-prescriber</br> based on the doctors they are most similar to</b></p>  
                         
                </div>
         </div>
    </div>  
    
</%block>