## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <title>HHS Web Database</title>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }
        <script src="${ STATIC_URL }homepage/media/jquery-3.3.1.js"></script><!-- 
        <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap-4.0.0-dist/css/bootstrap.min.css"></link>
        <script src="${ STATIC_URL }homepage/media/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
        <script src="${ STATIC_URL }homepage/media/bootstrap-4.0.0-dist/js/bootstrap.bundle.js"></script>
        <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap-4.0.0-dist/css/bootstrap.css">
        <link rel="icon" src="http://mediad.publicbroadcasting.net/p/wfsu/files/styles/x_large/public/201407/hhs_courtesy_www.hhs_.gov_.png">
        <%block name="headScript">
            
        </%block>

    </head>
    <%block name="tempBody">
        <body>
    </%block>
            <nav style="background-color: #04294a" class="navbar navbar-expand-lg navbar-dark justify-content-between">
                <ul class="nav navbar-nav navbar-left">
                    <!-- PAGE IS ${ request.dmp.page } -->
                    <a href="/" class="navbar-left"><img class="rounded" src="http://mediad.publicbroadcasting.net/p/wfsu/files/styles/x_large/public/201407/hhs_courtesy_www.hhs_.gov_.png" style="width:40px; height:35px; margin-right:10px;"></a>
                    <li class="nav-item ${'active' if request.dmp.page == 'index' else ''}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ${'active' if request.dmp.page == 'about' else ''}" href="/about/">About</a>
                    </li>
                    %if request.user.is_authenticated:
                    <li class="nav-item">
                        <a class="nav-link ${'active' if request.dmp.page == 'analytics' else ''}" href="/analytics/">Analytics</a>
                    </li>
                    %endif
                    %if request.user.groups.filter(name='Data Clerks').exists():
                        <li class="nav-item">
                            <a class="nav-link ${'active' if request.dmp.page == 'managedata' else ''}" href="/managedata/">Manage</a>
                        </li>
                    %endif
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown navbar-right">
                        % if request.user.is_authenticated:
                        <a style="color: orange" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, ${ request.user.first_name }
                        </a>
                        % endif
                        % if not request.user.is_authenticated:
                        <a class="nav-link" href="/account/login/">Login</a>
                        % endif
                        % if request.user.is_authenticated:
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">               
                            <a class="dropdown-item" href="/account/index/">Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/account/logout/">Logout</a>
                        % endif
                        </div>
                    </li>
                </ul>
            </nav>

            <%block name="header">
            <header class="jumbotron text-center" style="background-color: white;
            height: 190px;">
                <h1 class="jumbotron-heading" style="color: black; font-weight: 500; font-size: 55px; margin-top: -30px; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);"> HHS Web Database </h1>
                <img class="rounded" style="width: 65px; height: 65px;" src="http://mediad.publicbroadcasting.net/p/wfsu/files/styles/x_large/public/201407/hhs_courtesy_www.hhs_.gov_.png" alt="python" />
            </header>
            </%block>

            <main style="background-color: white">
                <%block name="content">
                
                </%block>
            </main>
            <footer>
                <%! from datetime import datetime%>
                <div class="center" style="text-align:center">© Copyright Tacohojo Consulting ${datetime.today().strftime("%Y")}. All rights reserved</div>
                <div class="center" style="text-align:center">______________________</div>
                
            </footer>

        </body>
    
</html>
