<%inherit file="app_base.htm" />

<%block name="breadcrum">
<ol class="breadcrumb" style="background-color: transparent">
    <li><a href="/index/">Home</a></li>
    <li class="active">Drug Details</li>
</ol>
</%block>

<%block name="headScript">
    <script type='text/javascript' src='http://public.tableau.com/javascripts/api/tableau-2.0.0.min.js'>
    </script>

    
    <script type='text/javascript'>                    
        
        var workbook, activeSheet, viz;
    

        function initViz() {
            var containerDiv = document.getElementById("vizContainer");
            url = "https://public.tableau.com/views/PrescriptionsPerState/Sheet1?:embed=y&:display_count=yes&publish=yes";

           
            var options = {
                width: 600,
                height: 350,
                hideTabs: true,
                hideToolbar: true,
                onFirstInteractive: function () {
                    workbook = viz.getWorkbook();
                    activeSheet = workbook.getActiveSheet();
                    //activeSheet = viz.getActiveSheet();
                    activeSheet.applyFilterAsync(
                    "DugIDd",
                    "${ drug.DrugID.id }",
                    tableau.FilterUpdateType.REPLACE);
                }
            };

             var viz = new tableau.Viz(containerDiv, url, options);
        }


        

        function filterSingleValue() {
            
        }        
    </script>       
</%block>

<%block name="tempBody">
    <body onload="initViz();">
</%block> 

<%block name="site_center">
    <div>    
        <table style="width:45%; float: left;" class="table">
            <thead style="font-size:larger">
                <h3>${ drug.DrugID.DrugName }</h3>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td><b>Type</b></td>
                    %if (drug.DrugID.IsOpioid) == True:
                        <td>Opioid</td>
                    %else:
                        <td>Non-Opioid</td>
                    %endif
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Chart Explanation</b></td>
                <td>Total number of this drug prescribed by specialty. Select filter to change or add additional drugs, or to see chart of all drugs. </br> Different colors represent different medical speacialties, size represents total number prescribed</td></tr>
                <td></td>
            </tbody> 

        </table>
        
    </div>
    <div id="vizContainer" style="float: left; margin-left: 20px;">

    </div>
    <table class="table">
        <thead>
            <th></th>
            <th>Top 10 Prescribers</th>
            <th>Specialty</th>
            <th>Amount Prescribed</th>
            <th></th>
        </thead>
        <tbody>
            %for p in prescribers:
            <tr>
                <td></td>
                %if request.user.groups.filter(name='Prescribers').exists():
                    <td><a href="/homepage/details.prescriberdetail/${ p.PrescriberID.id  }">${ p.PrescriberID.id }</a></td>
                %else:
                    <td><a href="/homepage/details.prescriberdetail/${ p.PrescriberID.id  }"> ${ p.PrescriberID.Fname } ${ p.PrescriberID.Lname }</a></td>
                %endif
                <td>${ p.PrescriberID.Specialty }</td>
                <td>${ p.QtyPrescribed }</td>
                <td></td>
            </tr>
            %endfor
        </tbody> 
    </table>

    <div class='tableauPlaceholder' id='viz1555013499484' style='position: relative'>
        <noscript><a href='#'>
            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JH&#47;JH3KGF7K9&#47;1_rss.png' style='border: none' /></a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='path' value='shared&#47;JH3KGF7K9' /> 
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JH&#47;JH3KGF7K9&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>                
</%block>