<%inherit file="base.htm" />

<%block name="content">
    <div class="content">
        <p>CONTENT GOES HERE</p>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Prescriber</button>
        </form>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Drug</button>
        </form>
    </div>
</%block>
