<%inherit file="app_base.htm" />

<%block name="title">Contact Page</%block>

<%block name="site_center">
    <div class="text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <a class="btn btn-default btn-rounded mb-4 btn-reqest" href="/managedata.create.html/" data-toggle="modal" data-target="#modalContactForm" style="border: solid;">Add a New Prescriber</a>
                </div>
                <div class="col-3">
                    <a href="" class="btn btn-default btn-rounded mb-4 btn-reqest" data-toggle="modal" data-target="#modalContactForm" style="border: solid;">Edit/Delete Prescriber List</a>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <th></th>
            <th>Prescriber Name</th>
            <th>State</th>
            <th>Presciber Type</th>
            <th>Specialty</th>
            <th>Total Prescriptions</th>
            <th>Total Opioid Prescriptions</th>
            <th></th>
        </thead>
        <tbody>
            %for p in prescribers:
            <tr>
                <td></td>
                <td>${ p.Fname } ${ p.Lname }, ${ p.Credentials }</td>
                <td>${ p.StateAbbrev }</td>
                <td>
                    %if (p.OpioidPrescriber) == True:
                    Opiod
                    %else: 
                    Non-Opioid
                    %endif
                </td>
                <td>${ p.Specialty }</td>
                <td>${ p.TotalPrescription }</td>
                <td>${ p.AcetaminophinCodeine + p.Fentanyl + p.HydrocodoneAcetaminophen + p.OxycodoneAcetaminophen + p.Oxycontin}</td>
                <td></td>
            </tr>
            %endfor
        </tbody> 
    </table>
</%block>