<%inherit file="app_base.htm" />

<%block name="title">Contact Page</%block>

<%block name="site_center">
    <div class="text-center">
        <table class="table">
            <thead>
                <th></th>
                <th>Prescriber Name</th>
                <th>State</th>
                <th>Presciber Type</th>
                <th>Specialty</th>
                <th>Total Prescriptions</th>
                <th>Total Opioid Prescriptions</th>
                <th></th>
            </thead>
        </table>
    </div>  
</%block>