<%inherit file="app_base.htm" />

<%block name="breadcrum">
<ol class="breadcrumb" style="background-color: transparent">
    <li><a href="#">Home</a></li>
    <li class="active">Prescriber Details</li>
</ol>
</%block>

<%block name="headScript">
    <script type='text/javascript' src='http://public.tableau.com/javascripts/api/tableau-2.0.0.min.js'>
    </script>

    
    <script type='text/javascript'>                    
        
        var workbook, activeSheet, viz;



        //var divElement = document.getElementById('viz1554955728502');                    
        //var vizElement = divElement.getElementsByTagName('object')[0];                    
        //vizElement.style.width='100%';vizElement.style.height='400px';
        //var scriptElement = document.createElement('script');                    
        //scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        //vizElement.parentNode.insertBefore(scriptElement, vizElement);        

        function initViz() {
            var containerDiv = document.getElementById("vizContainer");
            url = "https://public.tableau.com/views/Intex_Opioids_Charts_OnlyWORKSHEET/NumberofEachOpiodPrescribed?:embed=y&:display_count=yes&publish=yes";

           
            var options = {
                width: 600,
                height: 400,
                hideTabs: true,
                hideToolbar: true,
                onFirstInteractive: function () {
                    workbook = viz.getWorkbook();
                    activeSheet = workbook.getActiveSheet();
                    //activeSheet = viz.getActiveSheet();
                    activeSheet.applyFilterAsync(
                    "Id",
                    "${ prescriber.PrescriberID.id }",
                    tableau.FilterUpdateType.REPLACE);
                }
            };

             var viz = new tableau.Viz(containerDiv, url, options);
        }


        

        function filterSingleValue() {
            
        }        
    </script>       
</%block>

<%block name="tempBody">
    <body onload="initViz();">
</%block>           

<%block name="site_center">
                %if (prescriber.PrescriberID.RiskRating) > 1:
                <h3 style="text-align:right; margin-right:12%;">Overpresciber Risk Rating: <span style="color:red;">${ prescriber.PrescriberID.RiskRating }</span></h3>
                %else:
                <h3 style="text-align:right; margin-right:12%;">Overpresciber Risk Rating: <span style="color:green;">${ prescriber.PrescriberID.RiskRating }</span></h3>
                %endif  
                <p style="text-align:right; margin-right:12%;">_____________________________________</p>
                <div>
                    <table style="width:45%; float: left;" class="table">
                        <thead>
                            <th></th>
                            <th>Prescriber Name</th>
                            %if request.user.groups.filter(name='Prescribers').exists():
                                <td>${ prescriber.PrescriberID.id }, ${ prescriber.PrescriberID.Credentials }</td>
                            %else:
                                <td>${ prescriber.PrescriberID.Fname } ${ prescriber.PrescriberID.Lname }, ${ prescriber.PrescriberID.Credentials }</td>
                            %endif
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><b>Prescriber Type</b></td>
                                <td>
                                    %if (prescriber.PrescriberID.OpioidPrescriber) == True:
                                    Opioid
                                    %else: 
                                    Non-Opioid
                                    %endif
                                </td>
                                
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>State</b></td>
                                <td>${ prescriber.PrescriberID.StateAbbrev.StateName }</td>
                                
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Specialty</b></td>
                                <td>${ prescriber.PrescriberID.Specialty }</td>
                                    
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Gender</b></td>
                                    <td>
                                        %if ( prescriber.PrescriberID.Gender ) == "M":
                                            Male
                                        %else: 
                                            Female
                                        %endif
                                    </td>   
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Total Prescriptions</b></td>
                                <td>${ prescriber.PrescriberID.TotalPrescription }</td>
                                
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Total Opioid Prescriptions</b></td>
                                <td>${ prescriber.PrescriberID.AcetaminophinCodeine + prescriber.PrescriberID.Fentanyl + prescriber.PrescriberID.HydrocodoneAcetaminophen + prescriber.PrescriberID.OxycodoneAcetaminophen + prescriber.PrescriberID.Oxycontin}</td>   
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>% of Prescriptions Opioids</b></td>
                                <td>${ round(((prescriber.PrescriberID.AcetaminophinCodeine + prescriber.PrescriberID.Fentanyl + prescriber.PrescriberID.HydrocodoneAcetaminophen + prescriber.PrescriberID.OxycodoneAcetaminophen + prescriber.PrescriberID.Oxycontin)/prescriber.PrescriberID.TotalPrescription)*100,2)}%</td>   
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Opioid Over Prescriber</b></td>
                                <td>
                                    %if ( prescriber.PrescriberID.IsOverPrescriber ) == True:
                                    Yes
                                    %else: 
                                    No
                                    %endif
                                </td>   
                            </tr>
                        </tbody> 
                    </table>

                </div>    
                <div id="vizContainer" style="float: left; margin-left: 20px;">
                       
                </div>
            </br>
                <table class="table">
                    <thead>
                        <th></th>
                        <th>Drugs Prescribed by this Doctor</th>
                        <th>Type</th>
                        <th># of Prescriptions</th>
                        <th>Avg Quantity for all Prescribers</th>
                        <th></th>
                    </thead>
                    <tbody>
                        %for p in drugs:
                            <tr>
                                <td></td>
                                <td><a href="/homepage/details.drugdetail/${ p.DrugID.id  }"> ${ p.DrugID.DrugName }</a></td>
                                %if (p.DrugID.IsOpioid) == true:
                                    <td>Opioid</td>
                                %else:
                                        <td>Non-Opioid</td>
                                %endif
                                %if (p.QtyPrescribed) > (p.DrugID.AvgPerscribed):
                                    <td style="color:red">${ p.QtyPrescribed }</td>
                                %else:
                                    <td>${ p.QtyPrescribed }</td>
                                %endif
                                <td>${ p.DrugID.AvgPerscribed }</td>
                                <td></td>
                            </tr>
                        %endfor
                    </tbody> 
                </table>     
                <div class='tableauPlaceholder' id='viz1554955728502' style='position:fixed'>
                        <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;Intex_Opioids_Charts_OnlyWORKSHEET&#47;NumberofEachOpiodPrescribed&#47;1_rss.png' style='border: none' /></a>
                        </noscript>
                        <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
                        <param name='site_root' value='' />
                        <param name='name' value='Intex_Opioids_Charts_OnlyWORKSHEET&#47;NumberofEachOpiodPrescribed' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;Intex_Opioids_Charts_OnlyWORKSHEET&#47;NumberofEachOpiodPrescribed&#47;1.png' /> 
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' />
                        </object>
                </div>        
         
</%block>