<%inherit file="/homepage/templates/app_base.htm"/>

<%block name="breadcrum">
<ol class="breadcrumb" style="background-color: transparent">
    <li><a href="/index/">Home</a></li>
    <li><a href="/analytics/">Analytics</a></li>
    <li class="active">Top 30 Risk Rankings</li>
</ol>
</%block>

<%block name="content">
<table class="table">
        <thead>
            <th></th>
            <th>Top 30 Prescribers</th>
            <th>State</th>
            <th>Specialty</th>
            <th>Risk Rating</th>
            <th></th>
        </thead>
        <tbody>
            %for p in prescribers:
            <tr>
                <td></td>
                %if request.user.groups.filter(name='Prescribers').exists():
                    <td><a href="/homepage/details.prescriberdetail/${ p.id  }">${ p.id }</a></td>
                %else:
                    <td><a href="/homepage/details.prescriberdetail/${ p.id  }"> ${ p.Fname } ${ p.Lname }, ${ p.Credentials }</a></td>
                %endif
                <td>${ p.StateAbbrev.StateName}</td>
                <td>${ p.Specialty }</td>
                <td>${ p.RiskRating }</td>
                <td></td>
            </tr>
            %endfor
        </tbody> 
    </table>

</%block>